.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus 
{
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu 
{
    display: block;
}

.navbar-header
{
    min-height: 100px;
}

.navbar-brand
{
    margin-top: 23px;
    padding: 9px 10px !important;
    font-size: 25px;
}

.dropdown-toggle
{
    margin-top: 23px;
    padding: 9px 10px !important;
    font-size: 25px;
}

.compare_header
{
    margin-top: 130px;
    text-align: center;
    font-weight: bold;
}

.navbar-compare
{
    margin-top: 20px;
    padding: 15px 15px !important;
    font-size: 25px;
    float: left;
}

.navbar-data
{
    margin-top: 20px;
    padding: 15px 15px !important;
    font-size: 25px;
    float: right; 
}
.container
{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 50px;
}

@media (max-width: 480px)
 {
    .navbar li
     {
        padding: 10px;
     }
  
    .post
    {
        margin-right: 30px;
        margin-left: 30px;
    }